
.advantages {
  margin-bottom: 42px;
}

.advantages__header {
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 40px;
}

.advantages-list {
  @include reset-list;
  padding: 2px 0 4px 80px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 300px;
  width: 280px;
}

.advantages-list__item {
  position: relative;

  @include reset-list;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    width: 60px;
    height: 60px;
    background: $main-green url("../img/advantage-leaf@1x.png") no-repeat center;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px;
    }
  }

  &::after {
    content: "1";
    position: absolute;
    height: 228px;
    font-size: 281px;
    line-height: 281px;
    top: -37px;
    right: 16px;
    color: $color-grey;
    z-index: -1;
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }

    &::after {
      content: "2";
      position: absolute;
      right: 0;
    }
  }

  &--fork {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px;
      }
    }

    &::after {
      content: "3";
      position: absolute;
      right: -3px;
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px;
      }
    }

    &::after {
      content: "4";
      position: absolute;
      right: -4px;
    }
  }
}

.advantages-list__item:last-child {
  padding-bottom: 0;
}

@media (max-width: $mobile-width-only) {
  .advantages-list__item::after {
    display: none;
  }
}

.advantages-list__text {
  @include reset-list;
  font-family: "Arial", sans-serif;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 50px;
  }

  .advantages__wrapper {
    width: 628px;
    min-height: 555px;
  }

  .advantages-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 628px;
    min-height: 555px;
  }

  .advantages-list__item {
    @include reset-list;
    width: 245px;
    min-height: 235px;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 113px;
    padding-right: 25px;

    &--powder {
      padding-right: 20px;
    }

    &--clock {
      padding-right: 0;
    }

    &::before {
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__header {
    margin-bottom: 70px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages-list__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 1220px;
    min-height: 235px;
  }

  .advantages__header {
    margin-bottom: 72px;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    min-height: 235px;
  }
}
