
.more-goods-svg-plus {
  position: relative;
  margin-bottom: 54px;

  &::before {
    position: absolute;
    content: "";

    left: 95px;
    top: 15px;
    background-color: #d3d3d3;
    width: 30px;
    height: 2px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 1px;
    left: 109px;
    background-color: #d3d3d3;
    width: 2px;
    height: 30px;
  }
}

.more-goods__header {
  @include reset-list;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  margin-bottom: 8px;
}

.more-goods__text {
  @include reset-list;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: $greyish-brown;
  margin-bottom: 21px;
}

.catalog-item__button--more {
  background-color: $color-grey;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .more-goods-svg-plus {
    margin-bottom: 47px;
    width: 61px;
    height: 61px;

    &::before {
      left: 56px;
      top: 28px;
      width: 60px;
    }

    &::after {
      top: -1px;
      left: 85px;
      width: 2px;
      height: 61px;
    }
  }

  .more-goods__header {
    text-align: center;
    font-size: 20px;
    width: 170px;
    margin-bottom: 24px;
  }

  .more-goods__text {
    width: 170px;
    margin-bottom: 84px;
    font-size: 16px;
    line-height: 20px;
  }
}
