.about-catalog {
  margin-bottom: 30px;
}

.about-catalog__item {
  position: relative;
  background-color: $color-grey;
  margin-bottom: 20px;
  padding: 39px 34px 22px 21px;
  min-height: 266px;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 51px;
    background-color: $main-green;
    border-radius: 50%;
    left: 22px;
    top: 24px;
  }

  &--slim {
    &::after {
      position: absolute;
      content: "";
      width: 35px;
      height: 49px;
      background: url("../img/icon-cat-slim.svg") no-repeat;
      top: 22px;
      left: 30px;
    }
  }

  &--pro {
    &::after {
      position: absolute;
      content: "";
      width: 67px;
      height: 50px;
      background: url("../img/icon-cat-pro.svg") no-repeat;
      top: 35px;
      left: 13px;
    }
  }
}

.about-catalog__header {
  margin: 0 0 36px 0;
  padding: 0 0 0 72px;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-catalog__text {
  @include reset-list;
  font-family: "Arial", sans-serif;
  color: $greyish-brown;
  text-align: left;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.about-catalog__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    width: 25px;
    height: 12px;
    right: -36px;
    top: 6px;
  }

  &:hover::after,
  &:focus::after {
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    width: 34px;
    height: 12px;
    right: -45px;
    top: 6px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .about-catalog {
    margin-bottom: 50px;
  }

  .about-catalog__item {
    margin-bottom: 30px;
    padding: 78px 62px 62px 52px;
    height: 372px;

    &::before {
      width: 200px;
      height: 200px;
      //left: 442px;
      left: auto;
      right: 62px;
      top: 92px;
    }

    &--slim {
      &::after {
        width: 141px;
        height: 194px;
        top: 80px;
        left: auto;
        right: 92px;
      }
    }

    &--pro {
      &::after {
        width: 268px;
        height: 113px;
        top: 135px;
        left: auto;
        right: 28px;
      }
    }
  }

  .about-catalog__header {
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
    margin-bottom: 25px;
  }

  .about-catalog__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 222px;
    padding-bottom: 0;
    margin-bottom: 55px;
    font-family: "Arial", sans-serif;
    color: $greyish-brown;
    border: none;
  }

  .about-catalog__text--pro {
    padding-right: 250px;
  }

  .about-catalog__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      width: 25px;
      height: 12px;
      right: -47px;
      top: 9px;
    }

    &:hover::after,
    &:focus::after {
      width: 34px;
      height: 12px;
      right: -56px;
      top: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-catalog {
    margin-bottom: 79px;
  }

  .about-catalog__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .about-catalog__item {
    width: 570px;
    margin-bottom: 30px;
    padding: 81px 56px 62px 52px;
    min-height: 372px;

    &::before {
      width: 100px;
      height: 100px;
      left: 52px;
      right: auto;
      top: 47px;
    }

    &--slim {
      &::after {
        width: 71px;
        height: 97px;
        top: 41px;
        left: 65px;
        right: auto;
      }
    }

    &--pro {
      &::after {
        width: 134px;
        height: 57px;
        top: 69px;
        left: 34px;
        right: auto;
      }
    }
  }

  .about-catalog__header {
    font-size: 36px;
    line-height: 37px;
    padding-left: 164px;
    margin-bottom: 75px;
  }

  .about-catalog__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 0;
    margin-bottom: 36px;
  }
}
