.intro-program {
  margin-bottom: 22px;
}

.intro-program__wrapper {
  padding-bottom: 150px;
  background: $background-green url("../img/index-background-mobile@1x.jpg") no-repeat center 0;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-program__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding-top: 27px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.intro-program__message {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.intro-program__image {
  margin-top: -140px;
}

@media (min-width: $tablet-width) {
  .intro-program {
    position: relative;
    padding-bottom: 490px;
  }

  .intro-program .container {
    position: relative;
  }

  .intro-program__wrapper {
    background: none;
    color: #111111;
    width: 706px;
    font-weight: normal;
    margin: 0 auto;
    padding-bottom: 0;
    padding-left: 90px;
  }

  .intro-program__header {
    font-size: 60px;
    text-align: left;
    line-height: 60px;
    width: 427px;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 35px;
  }

  .intro-program__message {
    @include reset-list;
    font-size: 20px;
    color: #111111;
    text-align: left;
    margin-bottom: 48px;
  }

  .intro-program__button {
    margin-left: 90px;
  }

  .intro-program__image {
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: -2;
    top: 100px;
    //left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .intro-program {
    padding-bottom: 180px;
  }

  .intro-program .container {
    position: static;
  }

  .intro-program__wrapper {
    width: 530px;
    margin-left: 110px;
    padding-left: 80px;
  }

  .intro-program__message {
    margin-bottom: 53px;
  }

  .intro-program__image {
    width: 552px;
    height: 499px;
    position: absolute;
    z-index: 0;
    bottom: 50px;
    margin-left: 475px;
  }

  .intro-program__button {
    margin-left: 80px;
  }
}
