//Цвета
$color-black: #111111;
$color-nav-black: #222222;
$greyish-brown: #444444;
$background-green: #63a73a;
$main-green: #68b738;
$color-grey: #f2f2f2;
$color-border-grey: #e6e6e6;
$color-button-hover-green: #5eaa2f;
$color-brownish-grey: #666666;

//Шрифты
$font-main: "Oswald", "Arial", sans-serif;

//Экраны
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
